input {
  display: block;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;

  &::placeholder {
    color: gray;
  }

  &:focus-visible {
    outline: none !important;
  }
}

label {
  display: block;
}