.links{
  text-decoration: none;
  font-size: 30px;
  padding-top:10px;

  .fa-facebook-square {
    color: #3B5998;
  }

  .fa-twitter-square {
    color: #1DA1F2;
  }
  
  .fa-google {
    color: #EA4335;
  }
  
}




